/*--------------------------------------
-----------------------------FONT STYLES
--------------------------------------*/
/*import Roboto font from google fonts*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

@font-face {
    font-family: 'code_boldregular';
    src: url('fonts/code_bold-webfont.eot');
    src: url('fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_bold-webfont.woff2') format('woff2'),
         url('fonts/code_bold-webfont.woff') format('woff'),
         url('fonts/code_bold-webfont.ttf') format('truetype'),
         url('fonts/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Set up the basic font to Roboto and basic size to 16px for responsive.*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /*PSD 22px*/
    color:#727272;
    font-weight:400;
}

.text-light-gray { color:#727272;}
.text-white { color:#fff }
.text-lighter { font-weight:200; }
.text-bold { font-weight:700; }
.text-code-font { font-family: 'code_boldregular'; }


h1 { } 
h2 { }
h3 { font-size: 2.750em; }/* PSD 60px */
h4 { font-size: 2.500em; } /* PSD 54px */
h5 { font-size: 2.063em; } /* PSD 45px */
h6 { font-size: 1.375em; }/* PSD 30px */

.index-happify-txt-size1 { font-size: 11.50vw; }
.index-happify-txt-size2 { font-size: 20vw; }

.index-expectations-text-line1 { font-size: 6.55vw; display: block; }
.index-expectations-text-line2 { font-size: 12.00vw; display: block; line-height: 6.30vw; }
.index-expectations-text-line3 { font-size: 12.00vw; display: block; line-height:12.60vw; }
.index-expectations-text-line4 { font-size: 5.00vw; display: block; line-height: 1.00vw; }

/*-----------------------------------------
-----------------------------GENERAL STYLES
-----------------------------------------*/
/*Vertical centers content*/
.center-element{
    display:flex;
    align-items:center;
    justify-content:center;
}

/*Resets padding*/
.no-padding {
    padding: 0px;
}

/*Full width of container*/
.full-width {
    width:100%;
}

/*Separation classes*/
.separation-100 { display: block;height:100px; }
.separation-50 { display: block;height:50px; }


/*-------------------------------------
-----------------------------NAV STYLES
-------------------------------------*/
.navbar-brand {
    height: auto;
}

#nav-logo {
    height:30px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.nav-bg {
    background-color: rgba(100, 100, 100, 0.5);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited {
    color:#fff;
}

.navbar-nav>li>a {
    padding-top: 20px;
    width:180px;
}

/*---------------------------------------
-----------------------------INDEX STYLES
---------------------------------------*/
.index-top-bg {
    background-image: url(img/index-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.index-msg {
    background-color: #C25552;
}

.index-msg-2 {
    background-color: #1B86BE;
}

.outsourcing-offsite-service {
    background-color: #3a3a3a;
    color:#fff;
}

.outsourcing-onsite-service {
    background-color: #3baeda;
    color:#fff;
}

.our-approach-bg {
    background-color: #008db0;
}

.our-approach-btn {
    color:#fff;
    border: solid 4px #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.model-btn {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    color:#fff;
    text-decoration: none;
}

#onshore-btn {
    background-color: #e15b58;
}

#nearshore-btn {
    background-color:#18abf8;
}

#offshore-btn {
    background-color:#ffcd04;
}

.index-expectations-msg-bg {
    background-color: #af3a37;
}

.index-case-studies-bg {
    background-color: #4e4e4e;
}

.index-case-studies-btn,
.index-case-studies-btn:visited,
.index-case-studies-btn:active
{
    padding-top:5px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:5px;
    background-color: #aaaaaa;
    color:#fff;
    text-decoration:none !important;
}

.index-case-studies-btn:hover {
    background-color: #3a3a3a;
    color:#fff;
    text-decoration: none;
}

.index-bottom-msg-bg {
    background-color: #3b94ab;

/*PLACEHOLDERS STYLES*/
.placeholder {
    background-color: #ccc;
}

.placeholder2 {
    background-color: #eee;
}

