/*--------------------------------------
-----------------------------FONT STYLES
--------------------------------------*/
/*import Roboto font from google fonts*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

@font-face {
    font-family: 'code_boldregular';
    src: url('fonts/code_bold-webfont.eot');
    src: url('fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_bold-webfont.woff2') format('woff2'),
         url('fonts/code_bold-webfont.woff') format('woff'),
         url('fonts/code_bold-webfont.ttf') format('truetype'),
         url('fonts/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Set up the basic font to Roboto and basic size to 16px for responsive.*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /*PSD 22px*/
    color:#212121;
    font-weight:400;
}

.text-light-gray { color:#727272;}
.text-white { color:#fff }
.text-lighter { font-weight:200; }
.text-bold { font-weight:700; }
.text-code-font { font-family: 'code_boldregular'; }


h1 { } 
h2 { }
h3 { font-size: 2.750em; }/* PSD 60px */
h4 { font-size: 2.500em; }/* PSD 54px */
h5 { font-size: 2.063em; }/* PSD 45px */
h6 { font-size: 1.375em; }/* PSD 30px */

.index-happify-txt-size1 { font-size: 11.50vw; }
.index-happify-txt-size2 { font-size: 20vw; }

.index-expectations-text-line1 { font-size: 6.55vw; display: block; }
.index-expectations-text-line2 { font-size: 12.00vw; display: block; line-height: 6.30vw; }
.index-expectations-text-line3 { font-size: 12.00vw; display: block; line-height:12.60vw; }
.index-expectations-text-line4 { font-size: 5.00vw; display: block; line-height: 1.00vw; }

#capabilities-survey-text-1 { font-size: 4.00vw; display: block; }
#capabilities-survey-text-2 { font-size: 9.60vw; line-height: 7vw; display: block; }
#capabilities-survey-text-3 { font-size: 3.25vw; display: block; }

#capabilities-languages-text-1 { font-size: 6.00vw; display: block; }

/*-----------------------------------------
-----------------------------GENERAL STYLES
-----------------------------------------*/
/*Vertical centers content*/
.center-element{
    display:flex;
    align-items:center;
    justify-content:center;
}

/*Resets padding*/
.no-padding {
    padding: 0px;
}

/*Full width of container*/
.full-width {
    width:100%;
}

/*Separation classes*/
.separation-100 { display: block;height:100px; clear:both; }
.separation-50 { display: block;height:50px; clear:both; }
.separation-40 { display: block;height:40px; clear:both; }
.separation-30 { display: block;height:30px; clear:both; }
.separation-20 { display: block;height:20px; clear:both; }
.separation-10 { display: block;height:10px; clear:both; }
.separation-5 { display: block;height:5px; clear:both; }

.rectangle-btn,
.rectangle-btn:visited,
.rectangle-btn:active {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /*PSD 22px*/
    color:#fff;
    border: 3px solid #fff;
    padding: 10px;
}

.rectangle-btn:hover {
    color:#202020;
    background-color: #fff;
    text-decoration: none;
}

.black-white-img {
    -webkit-filter: grayscale(100%) brightness(100%) contrast(100%);
}

.light-color-texture-bg {
    background-image: url(../img/light-color-texture-bg.jpg);
    background-size:cover;
    background-position: center center;
}

/*-------------------------------------
-----------------------------NAV STYLES
-------------------------------------*/
.navbar-brand {
    height: auto;
}

#nav-logo {
    height:30px; margin-left: 15px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.nav-bg {
    background-color: rgba(100, 100, 100, 0.5);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited {
    color:#fff;
}

.navbar-nav>li>a {
    padding-top: 20px;
    width:180px;
}

/*----------------------------------------
-----------------------------FOOTER STYLES
----------------------------------------*/
.social-media-section-1 {
   /** background-color: #1f1f1f;**/
}

.social-media-section-2 {
  /**  background-color: rgba(253, 223, 3, 0.7);**/
}

.social-media-icon {
    display: inline-block;
    background-size:cover;
    background-position: center center;
    width:30px;
    height:30px;
}

#facebook,#facebook:active,#facebook:visited { background-image: url(../img/facebook.png); }
#facebook:hover { background-image: url(../img/facebook-white.png); }
#twitter,#twitter:active,#twitter:visited { background-image: url(../img/twitter.png); }
#twitter:hover { background-image: url(../img/twitter-white.png); }
#google,#google:active,#google:visited { background-image: url(../img/google-plus.png); }
#google:hover { background-image: url(../img/google-plus-white.png); }
#youtube,#youtube:active,#youtube:visited { background-image: url(../img/youtube.png); }
#youtube:hover { background-image: url(../img/youtube-white.png); }
#linkdin,#linkdin:active,#linkdin:visited { background-image: url(../img/linkedin.png); }
#linkdin:hover { background-image: url(../img/linkedin.png); }

.footer {
    background-color: #2b2b2b;
}

.footer-links {
    list-style: none;
}

.footer-links a,
.footer-links a:active,
.footer-links a:visited {
    color:#fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.rights-reserved {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rights-reserved a,
.rights-reserved a:active,
.rights-reserved a:visited {
    color:#727272;
    text-decoration: none;
}

.rights-reserved a:hover {
    text-decoration: underline;
}

/*---------------------------------------
-----------------------------INDEX STYLES
---------------------------------------*/
.index-top-bg {
    background-image: url(img/index-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.index-msg {
   /* background-image: url(img/index-happify-it-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #C25552;
    background-attachment: fixed;*/
}

.index-msg-2 {
    background-image: url(../img/index-msg-2-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #1B86BE;
}

.white-texture-bg {
    /*background-image: url(img/white-texture-bg.jpg);*/
    background-size:cover;
    background-position: top center;
    background: #fff;
}

.outsourcing-offsite-service {
    background-color: #3a3a3a;
    color:#fff;
}

.outsourcing-onsite-service {
    background-color: #3baeda;
    color:#fff;
}

.our-approach-bg {
   /** background-image: url(img/index-approach-bg-no-strips.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #008db0;
    background-attachment: fixed; **/
}

.our-approach-btn {
    color:#fff;
    border: solid 4px #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.model-btn,
.model-btn:active,
.model-btn:visited {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    color:#fff;
    text-decoration: none;
}

.model-btn:hover {
    color:#fff;
    text-decoration: underline;
}

#onshore-btn {
    background-image: url(img/index-onshore-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #e15b58;
}

#nearshore-btn {
    background-image: url(img/index-nearshore-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color:#18abf8;
}

#offshore-btn {
    background-image: url(img/index-offshore-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color:#ffcd04;
}

.index-expectations-msg-bg {
   /* background-image: url(img/index-expectations-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #af3a37;
    background-attachment: fixed;*/
}

.index-case-studies-bg {
    background-color: #4e4e4e;
}

.index-case-studies-1 {
    /*background-image: url(img/index-case-studies-1-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.index-case-studies-2 {
   /* background-image: url(img/index-case-studies-2-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.index-case-studies-3 {
  /*  background-image: url(img/index-case-studies-3-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.index-case-studies-btn,
.index-case-studies-btn:visited,
.index-case-studies-btn:active
{
    padding-top:5px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:5px;
    background-color: #aaaaaa;
    color:#fff;
    text-decoration:none !important;
}

.index-case-studies-btn:hover {
    background-color: #3a3a3a;
    color:#fff;
    text-decoration: none;
}

.index-bottom-msg-bg {
   /* background-image: url(img/index-bottom-msg-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #3b94ab;*/
}

/*--------------------------------------------------
-----------------------------OUR CAPABILITIES STYLES
--------------------------------------------------*/
.capabilities-top-bg {
    background-image: url(../img/capabilities-top-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.capabilities-our-services-bg {
  /*  background-image: url(../img/capabilities-our-services-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.service-icon {
    width: 91px;
	height: 91px;
	-webkit-border-radius: 46px 45px 45px 46px/45px 45px 46px 46px;
	-moz-border-radius: 46px 45px 45px 46px/45px 45px 46px 46px;
	border-radius: 46px 45px 45px 46px/45px 45px 46px 46px;
	background-color: transparent;
    border: solid 3px #fff;
    display: block;
}

.service-icon:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.capabilities-msg-2 {
    /*background-image: url(../img/capabilities-msg-2.jpg);
    background-size:cover;
    background-position: center center;*/
}

.capabilities-languages {
    background-image: url(../img/capabilities-languages.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #de8c8a;
}

.capabilities-survey-numbers-bg {
   /* background-image: url(../img/capabilities-survey-numbers-bg.jpg);
    background-size:cover;
    background-position: center center;
    background-color: #80b6cb;*/
}

.percentage {
    width: 91px;
	height: 91px;
	-webkit-border-radius: 46px 45px 45px 46px/45px 45px 46px 46px;
	-moz-border-radius: 46px 45px 45px 46px/45px 45px 46px 46px;
	border-radius: 46px 45px 45px 46px/45px 45px 46px 46px;
	background-color: transparent;
    border: solid 3px #fff;
    display: block;
}

.capabilities-our-process-bg {
  /*  background-color: #737373;
    background-image: url(../img/capabilities-our-process-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.capabilities-team-values-bg {
   /* background-color: #202020;
    background-image: url(../img/capabilities-team-values-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.capabilities-slogan-bg {
    background-color: #a8b1bd;
}

.capabilities-our-values-bg {
    background-image: url(../img/capabilities-our-values-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.capabilities-our-values-2-bg {
   /* background-image: url(../img/capabilities-our-values-2-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.capabilities-our-values-msg-bg {
    background-color: #f0f0f0;
}

.capabilities-client-retention-bg {
  /*  background-color: #9d1f1b;
    background-image: url(../img/capabilities-client-retention-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.founder {
    position: relative;
    display: block;
}

.leader-tag {
    background-color: rgba(33, 33, 33, 0.7);
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.founder-description {
    display: block;
    background-color: #212121;
    padding: 25px;
}

.capabilities-top-talent-bg {
    /*background-color: #4dc0ec;
    background-image: url(../img/capabilities-top-talent-bg.jpg);
    background-size:cover;
    background-position: center center;*/
}

.team-leader-read-more {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 12px 13px 13px 12px/12px 12px 13px 13px;
    -moz-border-radius: 12px 13px 13px 12px/12px 12px 13px 13px;
    border-radius: 12px 13px 13px 12px/12px 12px 13px 13px;
    background-color: #3baeda;
    height:25px;
    width:25px;

    position:absolute;
    right:-12px;
    top:-12px;

    cursor:pointer;
}

.team-member {
    background-color:#0CBCC3;
    display: block;
}

#Adrian {
    background-image: url(../img/profiles/black-white/Adrian.jpg);
    background-size:cover;
    background-position: center center;
}

#Adrian:hover,
#Adrian.selectedProfile {
    background-image: url(../img/profiles/color/Adrian.jpg);
    background-size:cover;
    background-position: center center;
}

#Alfredo {
    background-image: url(../img/profiles/black-white/Alfredo2.jpg);
    background-size:cover;
    background-position: center center;
}

#Alfredo:hover,
#Alfredo.selectedProfile {
    background-image: url(../img/profiles/color/Alfredo2.jpg);
    background-size:cover;
    background-position: center center;
}

#Anakaren {
    background-image: url(../img/profiles/black-white/AnaKaren2.jpg);
    background-size:cover;
    background-position: center center;
}

#Anakaren:hover,
#Anakaren.selectedProfile {
    background-image: url(../img/profiles/color/AnaKaren2.jpg);
    background-size:cover;
    background-position: center center;
}

#Carlos {
    background-image: url(../img/profiles/black-white/Carlos2.jpg);
    background-size:cover;
    background-position: center center;
}

#Carlos:hover,
#Carlos.selectedProfile {
    background-image: url(../img/profiles/color/Carlos2.jpg);
    background-size:cover;
    background-position: center center;
}

#Erick {
    background-image: url(../img/profiles/black-white/Erick2.jpg);
    background-size:cover;
    background-position: center center;
}

#Erick:hover,
#Erick.selectedProfile {
    background-image: url(../img/profiles/color/Erick2.jpg);
    background-size:cover;
    background-position: center center;
}

#Hector {
    background-image: url(../img/profiles/black-white/Hector.jpg);
    background-size:cover;
    background-position: center center;
}

#Hector:hover,
#Hector.selectedProfile {
    background-image: url(../img/profiles/color/Hector.jpg);
    background-size:cover;
    background-position: center center;
}

#Jorge {
    background-image: url(../img/profiles/black-white/Jorge.jpg);
    background-size:cover;
    background-position: center center;
}

#Jorge:hover,
#Jorge.selectedProfile {
    background-image: url(../img/profiles/color/Jorge.jpg);
    background-size:cover;
    background-position: center center;
}

#Laura {
    background-image: url(../img/profiles/black-white/Laura.jpg);
    background-size:cover;
    background-position: center center;
}

#Laura:hover,
#Laura.selectedProfile {
    background-image: url(../img/profiles/color/Laura.jpg);
    background-size:cover;
    background-position: center center;
}

#Mario {
    background-image: url(../img/profiles/black-white/Mario.jpg);
    background-size:cover;
    background-position: center center;
}

#Mario:hover,
#Mario.selectedProfile {
    background-image: url(../img/profiles/color/Mario.jpg);
    background-size:cover;
    background-position: center center;
}

#Misael {
    background-image: url(../img/profiles/black-white/Misael.jpg);
    background-size:cover;
    background-position: center center;
}

#Misael:hover,
#Misael.selectedProfile {
    background-image: url(../img/profiles/color/Misael.jpg);
    background-size:cover;
    background-position: center center;
}

#Orlando {
    background-image: url(../img/profiles/black-white/Orlando2.jpg);
    background-size:cover;
    background-position: center center;
}

#Orlando:hover,
#Orlando.selectedProfile {
    background-image: url(../img/profiles/color/Orlando2.jpg);
    background-size:cover;
    background-position: center center;
}

#Pepe {
    background-image: url(../img/profiles/black-white/Pepe2.jpg);
    background-size:cover;
    background-position: center center;
}

#Pepe:hover,
#Pepe.selectedProfile {
    background-image: url(../img/profiles/color/Pepe2.jpg);
    background-size:cover;
    background-position: center center;
}

/*------------------------------------------
-----------------------------GOOD. IT STYLES
------------------------------------------*/
.good-it-top-bg {
    background-color: #b1a6a2;
    background-image: url(../img/good-it-top-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.good-it-intro-msg-bg {
    background-color: #fff;
}

.good-it-intro-msg-red-bg {
    background-color:#c73935;
    background-color: #e18482;
    background-image: url(../img/good-it-wcc-community-bg-top.jpg);
    background-size:cover;
    background-position: center center;
}

.good-it-wcc-community-bg {
    background-color: #e18482;
    background-image: url(../img/good-it-wcc-community-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.good-it-wcc-community-blue-bg {
    background-color:#3baeda;
    background-image: url(../img/good-it-wcc-hack-bg-top.jpg);
    background-size:cover;
    background-position: center center;
}

.good-it-wcc-hack-bg {
    background-image: url(../img/good-it-wcc-hack-bg.jpg);
    background-size:cover;
    background-position: center center;
}

.red-texture-bg {
    background-image: url(../img/red-texture-bg.jpg);
    background-size:cover;
    background-position: top center;
}

.good-it-wcc-hack-msg-bg {
    background-color: #fff2f1;
}

.good-it-wcc-youth-tease-bg {
    background-color: #5595ad;
    background-image: url(../img/good-it-wcc-youth-bg-top.jpg);
    background-size:cover;
    background-position: top center;
}

.good-it-wcc-youth-bg {
    background-color: #5595ad;
    background-image: url(../img/good-it-wcc-youth-bg.jpg);
    background-size:cover;
    background-position: top center;
}

.good-it-advancio-answers-bg {
    background-color: #f8f3ca;
    background-image: url(../img/good-it-advancio-answers-bg.jpg);
    background-size:cover;
    background-position: top center;
}

.good-it-advancio-academy-bg-top {
    background-color: #da6562;
    background-image: url(../img/good-it-advancio-academy-bg-top.jpg);
    background-size:cover;
    background-position: top center;
}

.good-it-advancio-academy-bg {
    background-color: #da6562;
    background-image: url(../img/good-it-advancio-academy-bg.jpg);
    background-size:cover;
    background-position: top center;
}

.gray-texture-bg {
    background-color: #f5f5f5;
    background-image: url(../img/gray-texture-bg.jpg);
    background-size:cover;
    background-position: top center;
}

.good-it-bottom-msg {
    background-color:#2B2B2B;
}

.careers-top-bg {
    background-color: #f5f5f5;
    background-image: url(../img/careers-top-bg.jpg);
    background-size:cover;
    background-position: top center;
}

.careers-open-positions {
    background-color: #f5f5f5;
    background-image: url(../img/careers-open-positions.jpg);
    background-size:cover;
    background-position: top center;
}

.careers-testimonials {
    background-color: #f5f5f5;
    background-image: url(../img/careers-testimonials.jpg);
    background-size:cover;
    background-position: top center;
}

.careers-culture-highlights {
    background-color: #f5f5f5;
    background-image: url(../img/careers-culture-highlights.jpg);
    background-size:cover;
    background-position: top center;
}
/*PLACEHOLDERS STYLES - delete this at the end of the styling*/
.placeholder {
    background-color: #ccc;
}

.placeholder2 {
    background-color: #eee;
}

